eel # для запуска веб-интрефейса
pyserial # для работы с COM-портами
Nuitka # для компиляции в исполняемый файл
zstandard # алгоритм zstd для сжатия onefile в Nuitka
pystray # системный трей (иконка и контекстное меню)
pillow # обработка иконок для трея